/*
Color System:
- 4 main color
- gray: #C7C7C7
  - dark background: #eee
  - bright background: #FFF
  - inbetween background: #F5F5F5
- red: #E90B00
  - tinted: #ff9e99
- blue: #015094
  - tinted: #99cfff
- yellow: # ffc700
  - tinted: #ffe999
*/

/* Override some defaults */
html, body {
background-color: #eee;
}

.container > footer p {
text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.container > .content {
background-color: #fff;
padding: 20px;
margin: 40px -20px 20px -20px; /* negative indent the amount of the padding to maintain the grid system */
}

/* a post*/
.site-post > p,
.site-post > img,
.site-post > h2{
  margin: 5px;
}

.site-post > p{
  font-weight:bold;
}

.site-col1 > img{
  border: solid 5px #ff9e99;
}

.site-col2 > img{
  border: solid 5px #99cfff;
}

.site-col3 > img{
  border: solid 5px #ffe999;
}