/*
Color System:
- 4 main color
- grey: #C7C7C7
  - dark background: #eee
  - bright background: #FFF
  - inbetween background: #F5F5F5
- red: #E90B00
  - tinted: #ff9e99
- blue: #015094
  - tinted: #99cfff
- yellow: # ffc700
  - tinted: #ffe999
*/


/* shadow*/
.site-box-shadow {
  -webkit-box-shadow: 0 0px 4px rgba(0,0,0,.15);
  -moz-box-shadow: 0 0px 4px rgba(0,0,0,.15);
  box-shadow: 0 0px 4px rgba(0,0,0,.15);
}

.site-text-shadow {
  text-shadow: 2px 2px 4px #CCC;
}

/* radius*/
.site-down-radius {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

.site-all-radius {
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}
