/*
 * colors
 */
/*
http://kuler.adobe.com/#themeID/1098185
#FFE8A9
#FF6F22
#D9984F
#3E4237
#32948A
*/
body{background:url(./bg.png) repeat;overflow:hidden;min-width:960px;}
#logo { 
    top:20px; 
    left:20px;
    position:absolute;
    z-index:1000; 
    float:left;
	width:400px;
	height:90px;
}
#logo li {
  font-family:'Dancing Script', arial, serif;
  font-size: 70px;
  font-weight:bold;
  text-shadow:0px 0px 1px #fff;
  color:#3E4237;
}
#logo li a{display:block;background:url('signature_logo.png') no-repeat; width:400px; height: 90px;}
#logo li a:hover{display:block;background:url('signature_logo_home.png') no-repeat; width:400px; height: 90px;}

#nav { float:right; position:absolute; top:20px; right:10px; z-index:1000; }
#nav li { float:left; padding:20px 0px 5px 0px; margin:0px 0px 0px 10px; }
#nav li a{ display:block;text-decoration:none;font-size:large; width:145px;height:49px;}

#nav a#na_web{
	background-image:url('buttons.png');
	background-position:0px 0px;
	width:147px;
}
#nav a#na_web:hover{
	background-image:url('buttons.png');	
	background-position:0px -50px;
}
#nav a#na_web.selected{
	background-image:url('buttons.png');	
	background-position:0px -99px;
}
#nav a#na_research{
	background-image:url('buttons.png');
	background-position:-146px 0px;
	width:200px;
}
#nav a#na_research:hover{
	background-image:url('buttons.png');
	background-position:-146px -50px;
}
#nav a#na_research.selected{
	background-image:url('buttons.png');
	background-position:-146px -99px;
}
#nav a#na_wiki{
	background-image:url('buttons.png');
	background-position:-346px 0px;
	width:151px;
}
#nav a#na_wiki:hover{
	background-image:url('buttons.png');
	background-position:-346px -50px;
}
#nav a#na_wiki.selected{
	background-image:url('buttons.png');
	background-position:-346px -99px;
}
#nav a#na_blog{
	background-image:url('buttons.png');
	background-position:-497px 0px;
	width:153px;
}
#nav a#na_blog:hover{
	background-image:url('buttons.png');
	background-position:-497px -50px;
}
#nav a#na_blog.selected{
	background-image:url('buttons.png');
	background-position:-497px -99px;
}
#content{
  margin-top: 140px;
}

/*
#wrapper  { height:1000px;overflow:hidden;}
.blankline{ height: 500px;}

#web,#research,#wiki,#blog{
  padding-top:160px;
  padding-bottom:20px;
  margin-top:150px;
  margin-bottom:20px;
  font-size:64px;
}

#we_content,#re_content,#wi_content,#bl_content{
  font-size:32px;
  padding-bottom:20px;
  margin-bottom:20px;
}

#we_content,#web,#wiki,#wi_content{
  font-family: 'Droid Serif', arial, serif;
  text-shadow: 2px 2px 2px #D9984F;
}

#re_content,#research,#blog,#bl_content{
  font-family: 'Reenie Beanie', arial, serif;
  text-shadow: 2px 2px 2px #D9984F;
}

#we_co_post,#re_co_post,#wi_co_post,#bl_co_post{
  padding-bottom:20px;
  margin-bottom:20px;
}
*/
.gulimujyujyu{
}
p{
  font-size:25px;
  margin-top:25px;
}

#footer{
  font-family:'Dancing Script',Arial, sans-serif;
  height:20px;
  position:fixed;
  padding-top: 6px;
  bottom:0;
  right:0;
  width:100%;
  z-index:999;
  font-size: 13px;
  font-weight:bold;
  background:#000;
  opacity:0.8;
}
#fo_claim{
  font-size:12px;
  color:#FFF;
  float:left;
  width: 300px;
}
#fo_claim a{
  color:#FFF;
}
#fo_claim a:hover{
  color:#FFF;
  text-shadow: white 0px 0px 1px;
}
#fo_copyrights{
  font-size:12px;
  color:#FFF;
  float:right;
  width:200px;
  text-align:right;
}