#we_co_card {
  background: url(./card_bg.jpg) center top repeat fixed;
  border-bottom-left-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 110px;
}

#we_co_ca_discription{
  color:#FFFFCF;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#we_co_ca_di_name,#we_co_ca_di_title, #we_co_ca_di_place{
  margin-top: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: 'Reenie Beanie', arial, serif;
  text-shadow: 2px 2px 2px #242626;
  text-align:right;
}

#we_co_ca_di_name{font-size:28px;font-weight:bold;padding-right:4px;}
#we_co_ca_di_title{font-size:12px;padding-right:4px;}
#we_co_ca_di_place{font-size:16px;padding-right:4px;}

#we_co_ca_image{
  text-align:right;
}
#we_co_ca_image img{
  height:100px;
  width:100px;
  border-bottom-left-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  border:4px solid #FFFFFF;
}
